.logo {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

.bg {
    background-image: linear-gradient(50deg,#720072,#3c315f);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000000;
}
.center-stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 0px solid black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
}
.centercontent_outer {
    width: 100%;
    max-width: 100cqh;
    max-height: 100cqh;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    border-style: hidden;
    background-color: lightblue;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes resize {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(100%);
      }
}

@keyframes resizeback {
      from {
        transform: scale(100%);
      }
      to {
        transform: scale(0);
      }
}

@keyframes resizeplink {
      from {
        transform: scale(95%);
      }
      to {
        transform: scale(100%);
      }
}

.centeranimin {
    animation-name: resize;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
}

.centeranimplink {
    animation-name: resizeplink;
    animation-duration: 0.1s;
    animation-fill-mode: forwards
}

.centeranimout {
    animation-name: resizeback;
    animation-duration: 0.3s;
    animation-fill-mode: forwards
}

.centercontent {
    height: 40%;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    border-style: hidden;
    background-color: #6f93bf;
    overflow: auto;
    border: 5px solid black;
    scrollbar-gutter: stable both-edges;
    background-image: url("monolithlogo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    filter: drop-shadow(0 0 10px rgb(255, 255, 255, 0.5));

}

.textcontent {
    font-family: sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
    scrollbar-gutter: stable both-edges;
    text-align: center;

}

.floatbutton {
    position: fixed;
    z-index: 100;
    visibility: visible;

}

.closebutton {
    position: absolute;
    z-index: 100;
    top: 70vh;
}

.custombutton {

    background-color: #6f93bf; 
    color: white; 
    padding: 5px 10px; 
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold;

    transition: background-color 0.2s ease;
}

.custombutton:hover {
  background-color: #4d6b8f;
}

.custombutton:active {
  background-color: #2f4157;
}